<html>
<head>	
</head>
<body >

	<div ng-app="dashboardApp">
		<div ng-controller="showFiles">
			<div>

				<button type="button" class="btn btn-default btn-sm" ng-hide="isAutherized" ng-click="handleAuthClick()">Authenticate</button>	
				<div id="dropzone" ng-hide="!isAutherized" class="dropzone" file-dropzone="[image/png, image/jpeg, image/gif]"
				file="image" file-name="imageFileName" data-max-file-size="3">
				<span>Drop File Here</span>


			</div>
			
			<div ng-repeat="file in files" ng-init="file.isCollapsed=true">
				<ul class="list-group">
					<div class="list-group-item">{{file.name}}
						<button type="button" class="btn btn-default btn-sm " ng-click="Download()">Download</button>
						<button type="button" class="btn btn-default btn-sm" ng-click="file.isCollapsed=!file.isCollapsed">Details</button>
					</div>
				</ul>

				<div uib-collapse="file.isCollapsed" expanding="expanding(file)">
					<div class="well well-lg">{{file.title}} : {{file.mimeType}}</div>
				</div>
			</div>
		</div>

	</div>
</div>
</body>

<script src="https://apis.google.com/js/client.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-google-gapi/dist/angular-google-gapi.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./styles/main.css">
<script src="bower_components/uploadToDrive/upload.js"></script>
<script src="bower_components/ngUpload/ng-upload.js"></script>
<script src="scripts/services/driveUtil.js"></script>
<script src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/directives/fileDropzone.js"></script>

</html>
