		<div>
			<div id="dropzone" ng-hide="!isAutherized" class="dropzone" file-dropzone="[image/png, image/jpeg, image/gif]"
				file="image" file-name="imageFileName" data-max-file-size="3">
				<span>Drop File Here</span>
			</div>

			

			<div ng-show="value>0"class="fileList">
				<div ng-show="value<100">Uploading</div>
				<div ng-show="value>=100">Uploaded</div>
				<uib-progressbar value="value"><span style="color:white; white-space:nowrap;">{{value}}%</span></uib-progressbar>
			</div>

			<div class='fileList' ng-repeat="file in files" ng-init="file.isCollapsed=true">
				<ul class="list-group">
					<div class="list-group-item">{{file.title}}
						<button type="button" class="btn btn-default btn-sm " ng-click="Download(file)">Download</button>
						<button type="button" class="btn btn-default btn-sm" ng-click="file.isCollapsed=!file.isCollapsed">Details</button>
					</div>
				</ul>

				<div uib-collapse="file.isCollapsed">
					<div class="well well-lg">
						<ul>MIME Type : {{file.mimeType}}</ul>					
						<ul>Date of creation : {{file.createdDate}}</ul>
						<ul>Size : {{file.fileSize/1024}} KB</ul>
						
					</div>
				</div>
			</div>
		</div>